**1-Write a Python program to calculate the length of a string using 2 ways

In [137]:
name=input('Enter your name please:')
print(name)
print('length of name=',len(name))

Enter your name please:Hagar
Hagar
length of name= 5

In [5]:
name=input('Enter your name please:')
print(name)
n=0
for i in name:
    n=n+1
print('length of name=',n)

Enter your name please:hagar
hagar
length of name= 5

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [10]:
name=input('Enter a Random word=')
if len(name)<2:
    print("")
else:
    print('your Expected output=',name[0]+name[1]+name[-2]+name[-1])

Enter a Random word..cvbnm,.
your Expected output= cv,.

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [14]:
name=input('Enter a Random word=')
print(" ")
if len(name)<3:
    print(name)
else:
    last=name[-3]+name[-2]+name[-1]
    if last=='ing':
        print(name+'ly')
    else:
        print(name+'ing')

Enter a Random word=rg

rg

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [7]:
l=['hagar','mohamed','mahmoud','funny','college','engineering']
def returnword():
    count=0
    maxword=None
    
    for word in l:
        if len (word) > count:
            maxword=word
            count=len (word)
    return count,maxword

In [8]:
returnword()

(11, 'engineering')

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [139]:
name=input('Enter a Random word=')
print(" ")      
print(name[-1:] + name[1:-1] + name[:1])

Enter a Random word=hagar

ragah

In [155]:
#second method
name=input('Enter a Random word=')  
a=name[0]
b=name[-1]
print(b+name[1:-1]+a)

Enter a Random word=hagar
ragah

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [2]:
name=input('Enter a Random word=')
print(" ")
print(name[0: :2])

Enter a Random word=hagar

hgr

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [11]:
sent="hagar went to the college at the morning and get back at the evening"
word=sent.split()
for i in word:
    print(i,word.count(i))

hagar 1
went 1
to 1
the 3
college 1
at 2
the 3
morning 1
and 1
get 1
back 1
at 2
the 3
evening 1

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [24]:
words=input("enter an input=")
upperr=words.upper()
lowerr=words.lower()
print(upperr,lowerr)

enter an input=hagar
HAGAR hagar

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [25]:
word=input("enter an input=")
if len(word)%4==0 :
    print(word[::-1])
else:
    print(word)

enter an input=
  @media print {
    .ms-editor-squiggles-container {
      display:none !important;
    }
  }
  .ms-editor-squiggles-container {
    all: initial;
  }hagarrrr
rrrragah

**10- Write a Python program to remove a newline in Python

In [31]:
name='''hagar
mohamed
mahmoud'''

name.replace('\n'," ")

'hagar mohamed mahmoud'

**11-Write a Python program to check whether a string starts with specified characters

In [34]:
name=input('enter your name=')
if name[0]=='h':
    print('done')
else:
    print('does not start with h')

enter your name=hagar
done

**12- Write a Python program to add prefix text to all of the lines in a string

In [14]:
st='''hagar
mohamed
mahmoud'''
lines=st.splitlines()

new=['name:'+line for line in lines]
new

['name:hagar', 'name:mohamed', 'name:mahmoud']

**13-Write a Python program to print the following numbers up to 2 decimal places

In [20]:
num=float(input("enter a fraction number:"))
round(num,2)

enter a fraction number:5.025568

5.03

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [25]:
num=float(input("enter a fraction number:"))

print("Number with sign: "+"{:+.2f}".format(num))

enter a fraction number:-540.6546
Number with sign: -540.65

**15-Write a Python program to display a number with a comma separator

In [26]:
num=input("enter a fraction number:")
num.replace('.',',')

enter a fraction number:50.25

'50,25'

**16-Write a Python program to reverse a string using 2 ways

In [27]:
str="hagar"
print(str[::-1])

ragah

In [33]:

def reverse(s):
    word = ""
    for i in str:
        word = i +word
    return word
str="hagar"
s=reverse(str)
s

'ragah'

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [38]:
sr='hagarmohamed'
ch=[]
for i in sr:
    ch.append(i)
ch
dic=dict()
for i in ch:
    dic[i]=sr.count(i)
dic

{'h': 2, 'a': 3, 'g': 1, 'r': 1, 'm': 2, 'o': 1, 'e': 1, 'd': 1}

**18-Write a Python program to find the first non-repeating character in a given string

In [43]:
name="hagarmohamed"
for char in name:
    if name.count(char)==1:
        print(char)
        break

g

**19-Write a Python program to remove spaces from a given string

In [44]:
name="h a g a r"
name.replace(" ","")

'hagar'

**20-Write a Python program to count the number of non-empty substrings of a given string

In [52]:
def num_of_substrings(str): 
    str_len = len(str) 
    return int(str_len * (str_len + 1) / 2)

num_of_substrings("hagar")

15

**21-write a Python program to swap first and last element of any list.

In [54]:
listt=[1,2,5,4,8,86,48,96,5,4,7]
m=listt[0]
listt[0]=listt[-1]
listt[-1]=m
listt

[7, 2, 5, 4, 8, 86, 48, 96, 5, 4, 1]

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [55]:
listt = [23, 65, 19, 90]
m=listt[0]
listt[0]=listt[2]
listt[2]=m
listt

[19, 65, 23, 90]

**23- search for the all ways to know the length of the list

In [62]:
listt = [23, 65, 19, 90]
#1
print(len(listt))

#2
count=0
for i in listt:
    count+=1
print(count)

#3
def count_elements_recursion(listt):
    if not listt:
        return 0
    # Recursive case: add 1 to the count of the remaining elements in the list
    return 1 + count_elements_recursion(listt[1:])

print("The length of the list is:", count_elements_recursion(listt))

#4
length = sum(1 for i in listt)
print("The length of the list is:", length)

#5
from operator import length_hint
print(length_hint(listt))

4
4
The length of the list is: 4
The length of the list is: 4
4

In [ ]:
**24-write a Python code to find the Maximum number of list of numbers.

In [66]:
lst=[5,48,77,41,100,125,500,20]
maxm = lst[0]
for i in lst:
    if i > maxm:
            maxm = i
print("max is:",maxm)

max is: 500

In [ ]:
**25-write a Python code to find the Minimum number of list of numbers.

In [68]:
lst=[5,48,77,41,1,100,125,500,20]
minm = lst[0]
for i in lst:
    if i < minm:
            minm = i
print("min is:",minm)

min is: 1

**26-search for if an elem is existing in list

In [85]:
lst=[5,48,77,41,1,100,125,500,20]
ch=int(input('enter anumber:'))
if ch in lst:
    print("yes it exists")
        
else:
    print("not found")

enter anumber:5
yes it exist

**27- clear python list using different ways

In [87]:
lst=[5,48,77,41,1,100,125,500,20]
del lst[ 0:len(lst) ]
lst

[]

In [89]:
lst=[5,48,77,41,1,100,125,500,20]
del lst[:]
lst

[]

In [90]:
lst=[5,48,77,41,1,100,125,500,20]
lst *= 0 
lst

[]

In [91]:
lst=[5,48,77,41,1,100,125,500,20]
lst[:] = []
lst

[]

**28-remove duplicated elements from a list

In [93]:
lst = [1, 2, 4, 2, 1, 4, 5]
lst
new = [*set(lst)]
print("List after removing duplicate elements: ", new)

List after removing duplicate elements:  [1, 2, 4, 5]

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [172]:

test_list = ["Gfg", 3, "is", 8]

key_list = ["name", "id"]

n = len(test_list)

new = [{key_list[0]: test_list[idx], key_list[1]: test_list[idx+ 1]} for idx in range(0, n, 2)]

print("The output list : " ,new)

The output list :  [{'name': 'Gfg', 'id': 3}, {'name': 'is', 'id': 8}]

**30-write a python program to count unique values inside a list using different ways

In [180]:
#1
lst = [1,2,3,1,4,5,1,2,8,3,3,6,5,2,4,1]
print(len(set(lst)))

#2
from collections import Counter
count = Counter(lst)
keys = count.keys()
print (len(keys)) 

#3
from collections import Counter
print (len(Counter(lst).keys()))

#4
sett = set(lst)
print( len(sett))

7
7
7
7

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )

In [16]:
test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
K = 3 
lst=[]
for i in test_list : 
    if test_list.count(i)>K and i not in lst:
        lst.append(i)
        
lst

[4, 3]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [40]:
inpt= [2,1,3,4,5,2,7,8,8]*********************************************
lst=[]
k=1
n=len(inpt)
print(n)

n=n-1
print(n)

for i in inpt : 
    if k<=n:
        if inpt[k]>=inpt[i] :
            print("h")
            lst.append(k)
        else:
            print("hv")
            lst.append(i)
        k+=1

lst

9
8
hv
h
h
h
h
h
h
h

[2, 2, 3, 4, 5, 6, 7, 8]

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [42]:
lst=[1,2,3]
o=len(lst)
for i in range(o):
        for j in range(o):
            for k in range(o):
                  

                if (i!=j and j!=k and i!=k):
                    print(lst[i], lst[j],lst[k])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [185]:
from itertools import combinations

test_list = [1,2,3]
list_combinations = list()

for n in range(len(test_list) + 1):
    list_combinations += list(combinations(test_list, n))

print(list_combinations)

[(), (1,), (2,), (3,), (1, 2), (1, 3), (2, 3), (1, 2, 3)]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [49]:
import itertools
from itertools import permutations
 

lst_1 = ["a", "b"]
lst_2 = [1,2]
 
cmbined = []
 
permut = itertools.permutations(lst_1, len(lst_2))
 
# zip() is called to pair each permutation
# and shorter list element into combination
for comb in permut:
    zipped = zip(comb, lst_2)
    cmbined.append(list(zipped))
 
print(cmbined)

[]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1 

**Output : 2 3 4 5 2)

In [66]:
inpt= [1, 1, 2, 3, 4, 5, 1, 2, 1]
ch=int(input('enter the element you wnat to remove='))
n=inpt.count(ch)
print(n)

for i in range(0,n):
    inpt.remove(ch)
inpt

enter the element you wnat to remove=2
2

[1, 1, 3, 4, 5, 1, 1]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [80]:
lst_1 = ['Gfg', 'is', 'best']
lst_2 = [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]

new = [lst_1[idx] for idx in lst_2]

print (new)

['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 
Output : [] )

In [84]:
lst = [(4, 5, 6, 5, 4), (4, 5, 3)]
print(lst)
K = 5
N = 2
new = [i for i in val if i.count(K) == N] 
print(new)


print("")
print("")


lst = [(4, 5, 6, 5, 4), (4, 5, 3)]
print(lst)
N = 3
new = [i for i in val if i.count(K) == N] 
print(new)

[(4, 5, 6, 5, 4), (4, 5, 3)]
[(4, 5, 6, 5, 4), (5, 5, 2)]


[(4, 5, 6, 5, 4), (4, 5, 3)]
[]

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [88]:
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]] 

for i in range(len(array[0])):
    sortedcolumn = sorted(array, key = lambda x:x[i])
    
    print("Sorted array specific to column {}, {}".format(i, sortedcolumn))

Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [ ]:
**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output: 
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [93]:
inpt = {'ravi': 10, 'rajnish': 9,'sanjeev': 15, 'yash': 2, 'suraj': 32}
Key= list(inpt.keys())
Key.sort()
sorted_dic = {i: inpt[i] for i in Key}
print(sorted_dic)

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [98]:
dic = {'Gfg' : 3, 'is' : 7, 'best' : 10, 'for' : 6, 'geeks' : 'CS'}
print(dic)

K = 7
new={}
for key in dic:
    if not (isinstance(dic[key], int) and dic[key] >= K):
        new[key] = dic[key]

print('')
print("The output is : ", new)

{'Gfg': 3, 'is': 7, 'best': 10, 'for': 6, 'geeks': 'CS'}

The output is :  {'Gfg': 3, 'for': 6, 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [100]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}
for i in (dic1, dic2, dic3): dic4.update(i)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [103]:
dic = {'hagar': 1, 'mohamed': 2, 'mahmoud': 3} 
for name, value in dic.items():
     print(name, 'corresponds to ', dic[name])

hagar corresponds to  1
mohamed corresponds to  2
mahmoud corresponds to  3

**44- Write a Python script to merge two Python dictionaries

In [95]:
dic1 = {'a': 1, 'b': 2}
dic2 = {'d': 3, 'c': 4}
dic2.update(dic1)
dic2

{'d': 3, 'c': 4, 'a': 1, 'b': 2}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [96]:
my_dict = {'a':10, 'b':74, 'c': -230}

maxm = max(my_dict.keys(), key=(lambda k: my_dict[k]))
minm = min(my_dict.keys(), key=(lambda k: my_dict[k]))

print('Maximum Value=',my_dict[maxm])
print('Minimum Value=',my_dict[minm])

Maximum Value= 74
Minimum Value= -230

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [106]:
dic= {'c1': 'Red', 'c2': 'Green', 'c3':None}
print("Original Dictionary:")
print(dic)

print("")

print("New Dictionary after dropping empty items:")
dic= {key:value for (key, value) in dic.items() if value is not None}
print(dic)

Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}

New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [97]:
tpl = 5, 10, 15, 20, 25
print(tpl)
tpl = 5,
print(tpl)

(5, 10, 15, 20, 25)
(5,)

**48-Write a Python program to unpack a tuple into several variables

In [107]:

a = ("hagar", 21, "Engineering")

(name, age, college) = a
print(name)
print(age)
print(college)

hagar
21
Engineering

**49-Write a Python program to add an item to a tuple

In [98]:
tpl = 5, 10, 15, 20, 25
print(tpl)
tpl=tpl+(9,)
print(tpl)

(5, 10, 15, 20, 25)
(5, 10, 15, 20, 25, 9)

**50-Write a Python program to convert a tuple to a string

In [101]:
tpl=5,8,4
a,b,c=tpl
print(a)
print(b)
print(c)

5
8
4

**51-Write a Python program to convert a list to a tuple

In [103]:
tpl="h",'a','g','a','r'
name=""
for i in tpl:
    name=name+i
print (name)

hagar

**52-Write a Python program to reverse a tuple

In [107]:
tpl="h",'a','g','a','r'
tpl=tpl[::-1]
tpl

('r', 'a', 'g', 'a', 'h')

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [108]:
tpl=[(10, 20, 40), (40, 50, 60), (70, 80, 90)] 
print([t[:-1] + (100,) for t in tpl])

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [114]:
name="python 3.0 "
tuple(i for i in name if not i.isspace())

('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [116]:

def average_tuple(nums):
    result = tuple(map(lambda x: sum(x) / float(len(x)), zip(*nums)))
    return result
nums = ((1, 4, -5), (37, -15, 26), (51, -60, -79), (-1, 2, 3))
print ("Original Tuple: ")
print(nums)
print("\nAverage value of the numbers of the selected tuple:\n",average_tuple(nums))

Original Tuple:
((1, 4, -5), (37, -15, 26), (51, -60, -79), (-1, 2, 3))

Average value of the numbers of the selected tuple:
 (22.0, -17.25, -13.75)

**56-Write a Python program to add member(s) to a set.

In [112]:
s= set()
s.add(1)
print('s=',s)
s.update([3,4])
print('s=',s)

s= {1}
s= {1, 3, 4}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [125]:

s = set([0, 1, 2, 3, 4, 5])
print("Original set:")
print(s)

s.discard(4)
print(s)
s.discard(5)
print(s)

Original set:
{0, 1, 2, 3, 4, 5}
{0, 1, 2, 3, 5}
{0, 1, 2, 3}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [126]:

a= {0, 2, 4, 6, 8};
b= {1, 2, 3, 4, 5};

# union
print("Union :", a | b)

# intersection
print("Intersection :", a & b)

# difference
print("Difference :", a - b)

# symmetric difference
print("Symmetric difference :", a ^ b)

Union : {0, 1, 2, 3, 4, 5, 6, 8}
Intersection : {2, 4}
Difference : {0, 8, 6}
Symmetric difference : {0, 1, 3, 5, 6, 8}

**59-Write a Python program to find the maximum and minimum values in a set

In [129]:
def MAX(sett):
    return (max(sett))

sett = set([8, -6, 24, 1, 75, 3, 10, 65, 505])
print(MAX(sett))

505

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [136]:
value=int(input('enter the value='))
l=[5,4,7,8,9,6,44,1,7,5,2,0,1,2,5,8,7,5,6,56,89]
st=[]
for i in l:
    for j in l:
        if (i+j) == value:
            st.append({i, j})
print (st)

enter the value=5
[{0, 5}, {1, 4}, {1, 4}, {1, 4}, {0, 5}, {0, 5}, {0, 5}, {0, 5}, {0, 5}, {1, 4}, {0, 5}, {0, 5}]